<!--Fichier vue page d'accueil-->

<!DOCTYPE html>
<html lang="fr">

<header>
    <meta charset="utf-8" />
    <title> Page d'accueil</title>
</header>


<body>

    <div class="nav">
        <nav>
            <p>Catégories | Codes de cours | <a href="/accueil/ajoutdocument">Ajouter un document</a></p>
        </nav>
    </div>

    <h1>Bienvenue sur l'application de la classe de Business Analyst</h1>
    <p>Cette application est réservée aux élèves de première année en master de business
        analyst. Il s'agit d'une application de partage basée sur l'entraide entre 
        camarades de classe. 
    </p>

    <div class="liens">
        <ul>
            <li>
                <a href="/accueil/notesdecours">Notes de cours</a>
            </li>
            <li>
                <a href="/accueil/synthese">Synthèses</a>
            </li>
            <li>
                <a href="/accueil/exercices">Exercices</a>
            </li>
            <li>
                <a href="/accueil/ajoutdocument">Ajouter un document</a>
            </li>
        </ul>
    </div>

</body>

<footer>
    <p>©Copyright</p>
</footer>

</html>

