<!--Fichier vue ajout document-->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheet/accueil.css">
    <title> BA | Ajouter un document </title>
</head>

<body>
    <header>
        <div class="nav">
            <nav>
                <p><a class="liennav" href="/" tabindex="1">Accueil</a> | <a class="liennav" href="/accueil/synthese" tabindex="2">Toutes les synthèses</a> | <a class="liennav" href="/accueil/exercices" tabindex="3">Tous les exercices</a> | <a class="liennav" href="/accueil/notesdecours" tabindex="4">Toutes les notes de cours</a></p>
            </nav>
        </div>
    

        <h1>Ajouter un document</h1>
        <p>Choisissez ci-dessous une catégorie de document que vous désirez ajouter :</p>
    </header>

    <main>
        <div class="liensajout">
            <div id="lienajoutexo"><a class="lienaccueil" href="/ajoutdocument/exercices" tabindex="5">Ajouter un exercice</a></div>
            <div id="lienajoutsynthese"><a class="lienaccueil" href="/ajoutdocument/synthese" tabindex="6">Ajouter une synthèse</a></div>
            <div id="lienajoutcours"><a class="lienaccueil" href="/ajoutdocument/notesdecours" tabindex="7">Ajouter des notes de cours</a></div>
        </div>
    </main>

</body>

<footer>
    <p>Cette application a été créée par Caroline Eloy</p>
    <p>©Copyright</p>
</footer>

</html>
