<!--Fichier vue ajout document-->
<!DOCTYPE html>
<html lang="fr">

<header>
    <meta charset="utf-8" />
    <title>Ajouter un document</title>
</header>

<body>
    <div class="nav">
        <nav>
            <p>Catégories | Codes de cours | <a href="/">Accueil</a></p>
        </nav>
    </div>

    <h1>Ajouter un document</h1>
    <p>Choisissez ci-dessous une catégorie de document que vous désirez ajouter :</p>

    <ul>
        <li>
            <a href="/ajoutdocument/exercices">Ajouter un exercice</a>
        </li>
        <li>
            <a href="/ajoutdocument/synthese">Ajouter une synthèse</a>
        </li>
        <li>
            <a href="/ajoutdocument/notesdecours">Ajouter des notes de cours</a>
        </li>
    </ul>

</body>

<footer>
    <p>©Copyright</p>
</footer>

</html>
