<!--Page ajout de notes de cours-->
<!DOCTYPE html>
<html lang="fr">

<header>
    <meta charset="utf-8" />
    <title>Ajout de notes de cours</title>
</header>

<body>
    <div class="nav">
        <nav>
            <p>Catégories | Codes de cours | <a href="/">Accueil</a> | <a href="/accueil/ajoutdocument">Retour</a></p>
        </nav>
    </div>

    <h1>Ajouter des notes de cours</h1>

    <div class="ajoutdoc">
        <form method="POST">
            <label for="n_title">Titre :</label>
            <input id="n_title" type="text" name="n_title" value=""><br>
            <label for="code_cours">Code de cours :</label>
            <input id="code_cours" type="text" name="code_cours" value=""><br>
            <label for="idstudent">Identification :</label>
            <input id="idstudent" type="numbers" name="idstudent" value=""><br>
            <label for="n_description">Description :</label>
            <textarea name="n_description" id="n_description"></textarea><br>
            <!--<label for="documentPDF">Ajouter un fichier PDF :</label>
            <input type="file" id="fichierPDF" name="fichierPDF" accept=".pdf"><br>-->

            <input type="submit">
        </form>
    </div>

</body>

<footer>
    <p>©Copyright</p>
</footer>

</html>